<h1>회원목록</h1>
<form action='/user/new'>
<p>유저정보</p>
<%=@email%>님 환영합니다.
<a href="/user/new">회원가입</a>
<a href="/user/login">로그인</a>

    <!--<%# @users.each do |user|%>-->
    <!--<div class="card">-->
    <!--    <div class="card-body">-->
            <!--모든 post 뽑아내기-->
    <!--        아이디 : <%#= @users.email %><br/>-->
            <!--<a href="/post/modify/<%#= post.id%>">수정</a>-->
            <!--<a href="/post/destroy/<%#= post.id%>">[x]</a><br/> -->
    <!--    </div>-->
    <!--    <%# end %>-->
    <!--</div>-->





</form>



