<h1>회원가입</h1>
<form action="/user/create">
    email      : <input type="email" name="user_email" autofocus>
    Password: <input type="password" name="user_password">
    <br/>
    <input type="submit" value="완료">
</form>